.form-header {
	font-size: 24px;
	font-weight: 500;
	background-color: rgb(38, 128, 38);
	padding: 10px 20px;
	color: white;
}

.form-container-inner {
	padding: 20px;
}

.reg-form-grid {
	display: grid;
	grid-template-columns: 170px 170px 170px 170px;
	grid-column-gap: 40px;
}

.login-form-grid {
	display: grid;
	grid-template-columns: auto;
}

.reg-property-name {
	grid-column-start: 1;
	grid-column-end: 5;
}
.reg-property-email {
	grid-column-start: 1;
	grid-column-end: 3;
}
.reg-property-phone {
	grid-column-start: 3;
	grid-column-end: 5;
}

.reg-property-price {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
}

.reg-property-bedroom {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 4;
	grid-row-end: 5;
}

.reg-property-bathroom {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 5;
}

.reg-property-location {
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 5;
}

.reg-property-desc {
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 5;
	grid-row-end: 6;
}

.dnd-form {
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 6;
	grid-row-end: 7;
	margin: 10px 0;
}

.login-grid-email {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

.login-grid-password {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
}

.login-grid-btn {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
}

.login-grid-new-user {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 4;
	grid-row-end: 5;
}

.reg-user-grid-name {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}
.reg-user-grid-email {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
}
.reg-user-grid-password {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
}

.reg-user-grid-btn {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 4;
	grid-row-end: 5;
}

.user-acc-menu-container {
	width: 220px;
	height: 400px;
	box-shadow: 0 0 5px 0 gray;
	padding: 20px;
	position: absolute;
	top: 40px;
	right: 20px;
	background-color: white;
	overflow-y: scroll;
}

.user-acc-menu-container:hover {
	cursor: default;
}

.hidden {
	display: none;
}

.user-acc-details {
	display: flex;
	justify-content: center;
	align-items: center;
}
.user-acc-img > img {
	width: 100px;
	border-radius: 100%;
	border: 2px solid rgb(75, 75, 75);
}

.user-acc-name {
	font-size: 24px;
	font-weight: 500;
	margin: 20px 0 -5px 0;
}

.user-acc-email {
	font-size: 14px;
}

.horizontal-line {
	border-style: none none solid none;
	border-bottom-width: 1px;
	border-color: rgb(160, 160, 160);
	padding-bottom: 20px;
	margin-bottom: 15px;
}

.manage-acc {
	margin: 20px 0 0 0;
}

.user-acc-prop-num {
	font-size: 17px;
	font-weight: 500;
}

.user-acc-prop-details {
	font-size: 10px;
	margin-bottom: 15px;
}

.manage-prop {
	margin: 5px 0 0 0;
}

.user-acc-btn {
	width: 160px;
	background-color: white;
	border-radius: 1rem;
	border: 1.5px solid rgb(136, 136, 136);
	padding: 7px 20px;
	text-align: center;
	outline: 0;
}

.user-acc-btn:hover {
	border-color: rgb(194, 250, 192);
}

.user-acc-menu-container::-webkit-scrollbar {
	width: 7px;
}

.user-acc-menu-container::-webkit-scrollbar-track {
	box-shadow: inset 0 0 2px 1px rgb(180, 180, 180);
	border-radius: 10px;
	margin: 5px 0;
}

.user-acc-menu-container::-webkit-scrollbar-thumb {
	background: rgb(185, 185, 185);
	border-radius: 10px;
}
